<!DOCTYPE html>

<a href="/logout" methods="get">Logout</a>

<html>

<a href="/articles/create"><h3>Create new Article</h3></a>
<div style="
    text-align: left;
    background: #afc79d;
    padding: 10px;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 1200px;
    ">
    <h1 style="padding-left: 35px">Articles</h1>

<ul id="navigation">
    {% for article in articles %}
    <h3><a href="articles/{{ article.id }}">{{ article.title }}</a><form
            style="padding: 5px" method="post"
            onclick="return confirm('Are you sure?')"
            action="/articles/{{ article.id}}/delete">
        <button type="submit">Remove</button>
    </form></h3>

    {% endfor %}

</ul>

</div>

</body>
</html>