<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Portal</title>
</head>
<body>
<form action="/register/true" method="post">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="surname" placeholder="Surname">
    <br>
    <input type="password" name="pwd" placeholder="Password">
    <br>
    <input type="password" name="pwdRepeat" placeholder="Repeat password">
    <br>
    <input type="text" name="email" placeholder="E-mail">
    <br>
    <button type="submit" name="submit">SIGN UP</button>
</form>
</body>
</html>